.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  /* cursor: pointer; */
}
.link {
  color: #ffffff;
}
.link:hover, .link:focus {
  color: #ffffff;
  text-decoration: none;
}
.spinner {
  height: 80px;
  margin: auto;
}
.img-height{
  height: 253px;
}
.App-intro {
  font-size: large;
}
/* new css for movie component */
* {
  box-sizing: border-box;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.App-header h2 {
  margin: 0;
}
.add-movies {
  text-align: center;
}
.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}
.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}
.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}
.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}
@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}
@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}
@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}

.section .row{
  margin-top: 7%;
  margin-bottom: 10%;
}
.section .row .col-md-6{
  background: #f5f5f5;
  margin-right: -2%;
  padding: 5%;
}
.section h3{
  color: #004085;
}
.section p{
  margin-top: 0px;
  color: #545b62;
}
.section img
{
  width: 100%;
}
.cst-margin {
  margin-top: -85px;
}